.navbar-nav .nav-item.dropdown .navbar-dropdown {
  padding: 0px;
}

.navbar-nav .nav-item .pool-coins .pool-coin {
  cursor: pointer;
}

.table th,
.table td {
  padding: 0.75rem;
}

.appear-hh {
  text-align: center;
  margin-top: 54px;
}

.color-light-pink {
  color: #db2d94;
}

.color-dark-pink {
  color: #a7249c;
}

.miner-statistics .card-col-ddd {
  border-bottom: 1px solid #d5dcec;
  border-right: none;
}

.set-worker .input-group-btn button {
  width: 100%;
}


.miner-statistics {
  i {
    min-width: 38px;
  }

  .fa-thermometer-half {
    &::before {
      padding-left: 11px;
    }
  }

  .fa-share {
   &::before {
      padding-left: 3px;
    }
  }

  .fa-clock {
    &::before {
      padding-left: 3px;
    }
  }

  .fa-dolly-flatbed {
    &::before {
      padding-left: 0px;
    }
  }
}

// landing
.pool-coins {

  a {
    color: #000;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  .a-coin {
    .mb-0 {
      margin: 0px 0px 5px 0px!important;
    }
  }
}


// bootstrap overwrite

.navbar.horizontal-layout {
  background: #14e06e;
  
  .navbar-brand-wrapper {

    .navbar-brand {

      img {
        height: 59px;
      }
    }
  }
}