.navbar-nav .nav-item.dropdown .navbar-dropdown {
  padding: 0px;
}

.navbar-nav .nav-item .pool-coins .pool-coin {
  cursor: pointer;
}

.table th,
.table td {
  padding: 0.75rem;
}

.appear-hh {
  text-align: center;
  margin-top: 54px;
}

.color-light-pink {
  color: #db2d94;
}

.color-dark-pink {
  color: #a7249c;
}

.miner-statistics .card-col-ddd {
  border-bottom: 1px solid #d5dcec;
  border-right: none;
}

.set-worker .input-group-btn button {
  width: 100%;
}